
# Prefect Configuration
# =====================
# The maximum number of flow runs to run simultaneously in the work pool.
# Replace <your-value-here> with the desired concurrency level (integer).
PREFECT_WORK_POOL_CONCURRENCY=4

# The maximum number of flow runs to start simultaneously at the worker.
# Replace <your-value-here> with the desired worker limit (integer).
PREFECT_WORKER_LIMIT=4

# The URL of the Prefect server's API.
# Replace <your-value-here> with the URL of your Prefect server's API.
PREFECT_API_URL=http://localhost:4200/api

# Sets the working directory for the process prior to importing flows.
# Replace <your-value-here> with the path to your desired working directory.
PREFECT_WORK_DIR=$PWD


# Conda Configuration
# =====================
# Path to conda
CONDA_PATH=/opt/miniconda3
# Base directory where algorithm repositories are stored
# Each algorithm should be in its own subdirectory (e.g., folder_name=mlex_dlsia_segmentation_prototype)
# The worker will cd into ALGORITHMS_DIR/folder_name before running the algorithm
ALGORITHMS_DIR=

# Docker Container Configuration
# ========================
CONTAINER_NETWORK=mle_net
TILED_STORAGE_DIR=$PWD #Reads from local filesystem, not Tiled

# MLflow Configuration
# =====================
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_USERNAME=admin
MLFLOW_TRACKING_PASSWORD=<secure password>

# Tiled API Keys
# ==============
# These will be automatically injected into child flows based on which URIs are present
# Key for data input Tiled instance
DATA_TILED_API_KEY=your_data_tiled_api_key
MASK_TILED_API_KEY=your_mask_tiled_api_key
SEG_TILED_API_KEY=your_seg_tiled_api_key
RESULTS_TILED_API_KEY=your_results_tiled_api_key
