# The maximum number of flow runs to run simultaneously in the work pool.
# Replace <your-value-here> with the desired concurrency level (integer).
PREFECT_WORK_POOL_CONCURRENCY=4

# The maximum number of flow runs to start simultaneously at the worker.
# Replace <your-value-here> with the desired worker limit (integer).
PREFECT_WORKER_LIMIT=4

# The URL of the Prefect server's API.
# Replace <your-value-here> with the URL of your Prefect server's API.
PREFECT_API_URL=http://localhost:4200/api

# Sets the working directory for the process prior to importing flows.
# Replace <your-value-here> with the path to your desired working directory.
PREFECT_WORK_DIR=$PWD

# Path mapping for Docker volume mounts
# Container path where the worker code is mounted
CONTAINER_WORK_DIR=/mlex_prefect_worker

# Path to conda
CONDA_PATH=/opt/miniconda3

# MLFlow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_USERNAME=admin
MLFLOW_TRACKING_PASSWORD=<secure password>

# Container configuration
# Docker Compose creates networks with format: <project_name>_<network_name>
# This should match the actual network created by your docker-compose.yml
RESULTS_DIR=
TILED_STORAGE_DIR=
CONTAINER_NETWORK=mle_net